# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.vscode/
.idea/
vcpkg_installed/

build/
build-release/
build-shared/
build-shared-release/
build-ninja/
build-ninja-release/
build-ninja-shared/
build-ninja-shared-release/
build-unix/
build-unix-release/
build-unix-shared/
build-unix-shared-release/
build-gnu/
build-gnu-release/
build-gnu-shared/
build-gnu-shared-release/

Build/
Build-Release/
Build-Shared/
Build-Shared-Release/
Build-Ninja/
Build-Ninja-Release/
Build-Ninja-Shared/
Build-Ninja-Shared-Release/
Build-Unix/
Build-Unix-Release/
Build-Unix-Shared/
Build-Unix-Shared-Release/
Build-Gnu/
Build-Gnu-Release/
Build-Gnu-Shared/
Build-Gnu-Shared-Release/

imgui.ini